{# ok #}
{% extends "fader.consolev1/_layout.html" %}

{% block content %}
<div class="uk-grid">
	<div class="uk-width-1-1 uk-margin-bottom">
	    <div class="uk-grid">
	        <div class="uk-width-1-3">
	            <h1>App settings</h1>
                <div>
                    <div id="upload-drop" class="uk-placeholder">
                        Info text... <a class="uk-form-file">Select a file<input id="upload-select" type="file"></a>.
                    </div>
                </div>
                <div id="progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width: 0%;">...</div>
                </div>
                <a class="uk-button uk-button-large uk-width-1-1" 
                    href="{{ Route("cv1_AppExport").URLPath() }}">
                    <i class="uk-icon-download"></i> Download full data
                </a>
	        </div>
	    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/form-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/upload.min.js"></script>
<script>
    $(document).ready(function() {
        var progressbar = $("#progressbar"),
            bar         = progressbar.find('.uk-progress-bar'),
            settings    = {
    
                action: '{{ Route("cv1_AppImport").URLPath() }}', // upload url
                param: 'file',
                params: {},
                type: 'json',
    
                allow : '*', // allow all file types
    
                loadstart: function() {
                    bar.css("width", "0%").text("0%");
                    progressbar.removeClass("uk-hidden");
                },
    
                progress: function(percent) {
                    percent = Math.ceil(percent);
                    bar.css("width", percent+"%").text(percent+"%");
                },
    
                allcomplete: function(response) {
    
                    bar.css("width", "100%").text("100%");
    
                    setTimeout(function(){
                        progressbar.addClass("uk-hidden");
                    }, 250);
    
                    location.reload();
                }
            };
    
        var select = UIkit.uploadSelect($("#upload-select"), settings),
            drop   = UIkit.uploadDrop($("#upload-drop"), settings);
    });

</script>
{% endblock %}
